Plugins>NanoJ-SRRF, "SRRF Analysis", nanoj.srrf.java.gui.SRRFAnalysis_
Plugins>NanoJ-SRRF, "SRRF - Configure Advanced Settings", nanoj.srrf.java.gui.SRRFAnalysis_ExtraSettings_
Plugins>NanoJ-SRRF, "-"
Plugins>NanoJ-SRRF, "Estimate Drift", nanoj.srrf.java.gui.DriftEstimation_
Plugins>NanoJ-SRRF, "Correct Drift (after estimate)", nanoj.srrf.java.gui.DriftCorrection_
#Plugins>NanoJ-SRRF, "Estimate Drift (Old Version)", nanoj.srrf.java.gui.OldDriftEstimation_
Plugins>NanoJ-SRRF, "-"
Plugins>NanoJ-SRRF>Tools, "Calculate Temporal Auto-Correlations", nanoj.srrf.java.gui.CalculateTemporalAutoCorrelations_
Plugins>NanoJ-SRRF, "-"
Plugins>NanoJ-SRRF, "NanoJ-SRRF Version", nanoj.srrf.java.gui.Version_
Plugins>NanoJ-SRRF, "NanoJ-SRRF What's New", nanoj.srrf.java.gui.WhatsNew_
Plugins>NanoJ-SRRF, "NanoJ-SRRF Help & Website", nanoj.srrf.java.gui.Help_